@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

*,
*:before,
*:after {
  box-sizing: inherit;
  transition: all 0.15s ease-in-out;
}

html {
  box-sizing: border-box;
  /* height: 100vh; */
}

body {
  
  background: linear-gradient(90deg, #43cea2 10%, #185a9d 90%);
  background-image: url('https://w2.oustme.com/images/default/pattern.png');
    background-size: cover;
  color: white;
  min-height: 95vh;
 /*Force the header at the top, section at the middle and footer at the bottom*/  
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */  
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
a {
  padding: 0.667em 0.667em;
  line-height: 1.3;
  color: #fff;
  opacity: 0.85;
  /* color: rgba(255,255,255,0.9); */
  text-decoration: none;
}
a:hover {
  /* color: rgba(255, 255, 255, 1); */
  opacity: 1;
}
b {
  font-weight: 700;
}
#section-main {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*HEADER//////////////////////////////////*/
.header-container {
  display: flex;
}

.header-container div {
  padding: 0.375em;
  font-size: 1.33em;
  font-weight: 600;
  line-height: 1.33;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 0.667);
  flex-basis: 0;
  flex-grow: 1;
}
.header-container .left {
  padding-left: 0;
}
.header-container .center {
  text-align: center;
  font-weight: 400;
}
.header-container .right {
  text-align: right;
  font-weight: 400;
}

/*SECTION /////////////////////////////////*/

.section-container {
  width: 100%;
  text-align: center;
}

/*SECTION LOGIN//////////*/


.section-login .app-logo {
  text-align: center;
}

.section-login .app-logo img {
  width: 8em;
}

.login-other {
  margin-top: 1em;
  font-size: 16px;
  line-height: 2;  
}

.login-other a {
  /* line-height: 2.3; */
  color: white;
  text-decoration: underline;
}

.section-login h1 {
  font-size: 2em;
  padding: 0.667em;
  line-height: 1.3;
}

.section-login hr {
  margin-top: 1.2em;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  max-width: 20em;
}

.section-login .login-form-container {
  display: inline-block;
}
/* Icon to the left of the input */

.login-form-container .field i {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.25em 0px 0px 0.25em;
  color: rgba(0, 0, 0, 0.3);
  display: block;
  float: left;
  height: 2.3em;
  width: 2.3em;
  line-height: 2.3em;
  text-align: center;
  font-size: 1.133em;
}

.login-form-container .field input[type="email"],
input[type="password"] {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0px 0.25em 0.25em 0px;
  margin-bottom: 0.5em;
  padding: 0 1em;
  width: 13em;
  border: 1px solid rgba(255,255,255,0.3);
  
  /* border: none; */
  color: #333;
  height: 2.3em;
  font-size: 1.133em;
  outline: 0;
  /* color: rgba(0, 0, 0, 0.3); */
}
.login-form-container .field input[type="email"]:focus,
input[type="password"]:focus {
  border: 1px solid rgba(255, 255, 255, 0.7);
  /* border: 1px solid blue; */
}
/* Checkbox */

.login-form-container .field input[type="checkbox"] {
  /* line-height: 1.3; */
  
  width: 1.667em;
  height: 1.667em;
  color: red;
  padding-top: 2em;
}

.login-form-container .field input[type="checkbox"] + label {
  font-size: 1.133em;
  line-height: 1.3;
}
/* Login button */
.login-form-container .actions input[type="button"], .btn {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  /* background: none; */
  
  border: none;
  padding: 0.666em 1.333em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.133em;
  margin: 1em;
  /* background: rgba(255,255,255,0.4); */  
  border-radius: 0.333em;
  /* background-color: #87e1ed; */  
  background-color: #307EAF;
  background: #2fa0ec;
  background: #e35583;
  color: white;
  cursor: pointer;
}

.login-form-container .actions input[type="submit"]:hover {
  box-shadow: inset 15px 15px 90px -20px #7996d1, inset -15px -5px 80px -10px #87e1ed;
}

/*FOOTER /////////////////////////////////*/
footer {
  padding: 0.667em;
}

.footer-inner {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

