<!doctype html>
<html>
<head>
    <title>
          IP Address 
    </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js" ></script>
    <link rel="stylesheet" href="style.css" />
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    <link href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css" rel="stylesheet">
    <script src="script.js" ></script>
</head>
    <body>
        <div ng-app="add-row" ng-controller="MainCtrl">
              <form name="setupNewGrid" >
                  
               <fieldset  ng-repeat="inpuTxt in InpFd">
                   <button id="addButton" class="addfields" ng-click="addNewInpFd()"><i class="lni-plus"></i></button>
                   <input type="text" name="inpuTxtName" ng-model="inpuTxt.name" name="" placeholder="IP Address" required ng-ip-address>
                   <button class="remove"  ng-click="removeInpFd($index)"><i class="lni-circle-minus"></i></button> <br />
                   <span ng-if="setupNewGrid.inpuTxtName.$invalid" style="color: orangered;margin: 4px 2px 2px 46px;width: 17%;">Invalid <i class="lni-cross-circle" style="position: relative;top: 1px;"></i></span>
                   <span ng-if="setupNewGrid.inpuTxtName.$dirty && setupNewGrid.inpuTxtName.$valid" style="color: forestgreen;margin: 4px 2px 2px 46px;width: 17%;">Valid <i class="lni-check-mark-circle" style="position: relative;top: 1px;"></i></span>
               </fieldset>
               
              <button id="saveButton" class="save" ng-click="saveValidate()">Save</button>
            </form>
            <p>{{InpFd}}</p>
            </div>
        
    </body>
    
</html>

    